
doctype html
html
  head
    h1 #{main}

  body
    p Volkswagen Golf — 5-місний автомобіль німецького концерну Volkswagen AG, за німецькою класифікацією належить до «компактного» класу, за формою кузова хетчбек. Виробляються з 1974 року. «Гольф» прийшовши на заміну славнозвісному «Жуку», став найуспішнішою моделлю Фольксваґена і займає 3-тє місце у списку найпродаваніших автомобілів світу. На березень 2007 виробили 25 млн авто цієї моделі усіх модифікацій. Спортивна версія Volkswagen Golf називається Volkswagen Golf GTI.